{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
<main class="login">
    {% if app.user %}
        <div class="decoAccount">
            <span>
                Vous êtes connecter en temps que {{ app.user.username }}
            </span>
            
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
    <section>

    
        <form method="post">
            <div class="input">
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
            </div>
            
            

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="divBtn">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% else %}
                    <span>
                        Appuyez sur la flèche pour envoyer
                    </span>
                {% endif %}

                
                <button class="btn btn-lg btn-primary" type="submit">
                    >
                </button>
            </div>
        </form>

        <div class="account">
            <span>
                Vous n'avez pas encore de compte ?
            </span>
            <a href="{{ path('app_register') }}">Créer un compte</a>
        </div>


    </section>
</main>


{% endblock %}
