{% extends 'base.html.twig' %}

{% block title %}Espace Mon Compte{% endblock %}

{% block body %}
<main class="spaceMyAccount">
    <h1>
        Mon compte
    </h1>
    <section>
        <a href="#">
            <img class="logo" src="{{ asset('assets/img/profil.png') }}" alt="logo d'un utilisateur pour modifier les informations du compte">
            <span>
                Informations
            </span>
        </a>
        <a href="#">
            <img class="logo" src="{{ asset('assets/img/favoris.png') }}" alt="logo favoris pour accéder à la page des menus mis en favoris">
            <span>
                Favoris
            </span>
        </a>
        <a href="#">
            <img class="logo" src="{{ asset('assets/img/notation.png') }}" alt="logo favoris pour accéder à la page des menus mis en favoris">
            <span>
                Mes avis
            </span>
        </a>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
            <a href="{{ path('app_message_user_account') }}">
                <img class="logo" src="{{ asset('assets/img/message.png') }}" alt="logo message pour accéder aux messages des utilisateurs">
                <span>
                    Messages utilisateurs
                </span>
            </a>


            <a href="#">
                <img class="logo" src="{{ asset('assets/img/administrateur.png') }}" alt="logo message pour accéder aux mutilisateurs et aux admins du site">
                <span>
                    Role et Admin
                </span>
            </a>
        {% endif %}
        
    </section>

</main>

{% endblock %}
