{% extends 'base.html.twig' %}

{% block title %}Ajouter Une Recette{% endblock %}

{% block body %}
<main class="addArticle">
    <section>
        
        <form action="{{ path('app_add_recipe') }}" method="post" enctype="multipart/form-data">

            <div class="input">
                <div>
                    <label name="title">Titre :</label>
                    <input type="text" name="title" required>
                </div>
                <div>
                    <label name="img">Image :</label>
                    <input type="file" name="img" required>
                </div>
                <div>
                    <label name="type">Type :</label>
                    <select name="type" class="type" required>
                        {% for type in types  %}
                            <option value="{{ type.id }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label name="nbPersonne">Nombre de personne :</label>
                    <input type="number" name="nbPersonne" required>
                </div>
                <div>
                    <label name="preparationTime">Temps de préparation :</label>
                    <input type="number" name="preparationTime" required>
                </div>
                <div>
                    <label name="stepFirst">Étape 1 :</label>
                    <textarea name="stepFirst" class="textarea" required></textarea>
                </div>
                <div>
                    <label name="stepSecond">Étape 2 :</label>
                    <textarea name="stepSecond" class="textarea"></textarea>
                </div>
                <div>
                    <label name="stepThree">Étape 3 :</label>
                    <textarea name="stepThree" class="textarea"></textarea>
                </div>
                <div>
                    <label name="stepFour">Étape 4 :</label>
                    <textarea name="stepFour" class="textarea"></textarea>
                </div>





                <div>
                    <label name="IngredientOne">Ingrédient 1 :</label>
                    <input type="text" name="IngredientOne" required>
                </div>
                <div>
                    <label name="quantity">Quantité :</label>
                    <input type="number" name="quantity" required>
                </div>
                <div>
                    <label name="unity">Unité :</label>
                    <select name="unity" class="unity" required>
                        {% for unity in unityMesure  %}
                            <option value="{{ unity.id }}">{{ unity.mesure }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="divBtn">
                <span>
                    Appuyez sur la flèche pour envoyer
                </span>
                <input type="submit" class="btn" value=">">
            </div>
            
        </form>
    </section>
</main>
{% endblock %}
