{% extends 'base.html.twig' %}

{% block title %}{{ type.name }} | {{ recipe.title }}{% endblock %}

{% block body %}
    
    <main class="showRecipe">                 
        <section>
            <div class="img">
                <img src="{{ asset('uploadDirectory/' ~ recipe.img) }}" alt="image de fond du plat {{ recipe.title }}">
            </div>
            <div>
                <div class="like">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="100.000000pt" height="60.000000pt" viewBox="0 0 1280.000000 1000.000000"
                        preserveAspectRatio="xMidYMid meet">
                        <metadata>
                        Created by potrace 1.15, written by Peter Selinger 2001-2017
                        </metadata>
                        <g transform="translate(0.000000,1189.000000) scale(0.100000,-0.100000)"
                        fill="#000" stroke="none">
                        <a href="{{ path('love', {'name':type.name, 'id':recipe.id}) }}">
                            <path d="M2980 11763 c-848 -26 -1656 -457 -2177 -1163 -739 -1002 -839 -2418
                            -277 -3927 742 -1992 2563 -4072 5324 -6084 234 -171 529 -379 545 -385 18 -7
                            441 293 890 630 1976 1483 3442 3004 4339 4499 570 950 892 1837 993 2742 21
                            188 24 685 5 855 -52 462 -163 855 -343 1214 -166 330 -337 565 -602 823 -215
                            209 -424 359 -687 492 -449 228 -892 322 -1410 299 -991 -43 -1937 -632 -2597
                            -1618 -171 -255 -391 -672 -513 -972 -35 -87 -67 -155 -71 -150 -4 4 -35 77
                            -70 162 -82 201 -255 547 -362 727 -626 1046 -1484 1677 -2483 1828 -114 17
                            -375 32 -504 28z"/>
                        </a>
                        </g>
                    </svg>
                    <span>
                        J'aime
                    </span>
                </div>
                <div class="fav">
                    <a href="{{ path('fav', {'id':recipe.id}) }}">
                        <img src="{{ asset('assets/img/favoris.png') }}" alt="img d'un logo favoris pour mettre ce plat en favoris">      
                    </a>
                    <span>
                        Favoris
                    </span>
                </div>
                <h1>
                    {{ recipe.title }}
                </h1>
            </div>
            <div class="recipePersoneTime">
                <div class="preparationTime">
                    <img src="{{ asset('assets/img/lhorloge.png') }}" alt="logo d'une horloge">
                    <span>
                        Temps de préparation : {{ recipe.preparationTime }} min
                    </span>
                </div>
                <span>
                    Pour {{ recipe.nbPersonne }} 
                    {% if recipe.nbPersonne > 1 %}
                        personnes
                    {% else %}
                        personne
                    {% endif %}
                    <span class="numberLess">-</span> <span class="numberMore">+</span>
                </span>
            </div>
            <div class="buttonIngredientsSteps">
                <h2 class="IngredientsSteps buttonIngredients active">
                    Ingrédients
                </h2>
                <h2 class="IngredientsSteps buttonSteps">
                    Préparation
                </h2>
            </div>
            <div id="ingredients" class="">
                {% for ingredient in ingredients %}                        
                    {% if ingredient.ingredient|length != 0 %}
                        <div>
                            <h3>
                                {{ ingredient.ingredient }}
                            </h3>
                            <span>
                                {{ ingredient.quantity }}
                                {# <pre>
                                    {{ dump(ingredient.unity) }}
                                </pre> #}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="steps" class="displayNone">
                {% for step in steps %}                        
                    {% if step.steps|length != 0 %}
                    <div>
                        <h3>
                            Etape {{ loop.index }} :
                        </h3>
                        <p>
                            {{ step.steps }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <script src="{{ asset('assets/js/ingredientSteps.js') }}"></script>
    </main>
{% endblock %}