{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block body %}

    <main class="message">
    <section>
        

       
        {{ form_start(formMessage) }}
            <div class="input">
                {{ form_row(formMessage.name, {
                    label: 'Prénom :'
                }) }}
                {{ form_row(formMessage.lastname, {
                    label: 'Nom :'
                }) }}
                {{ form_row(formMessage.email, {
                    label: 'Email :'
                }) }}
                {{ form_row(formMessage.message, {
                    label: 'Message :'
                }) }}
                
            </div>
            
            <div class="divBtn">
                <span>
                    Appuyez sur la flèche pour envoyer
                </span>
                {{ form_row(formMessage.submit, {
                    class: 'btn'
                }) }}
            </div>
                
            

            
        {{ form_end(formMessage) }}
    </section>
</main>

{% endblock %}
